.overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1vw;
  z-index: 999;
  color: ghostwhite
}
.loading {
  position: absolute;
  z-index: 999;
  top:40%;
  left:50%
}

.roadInfo {
  right: 0;
  width: 500px
}
li{
  cursor:pointer;
  text-decoration:underline
}
tr{
  cursor:pointer
}
.averageScoreSection{
  position:relative
}
.averageScoreSection p{
  margin:0
}
.riskRank{
  position:relative;
 
}